forward             W
left                A
backward            R
right               S
jump                SPACE
sprint              C
createBlock         T
removeBlock         D
toggleFocus         V
gotoDebugBlock      1
gotoGrassBlock      2
gotoStoneBlock      3
gotoWaterBlock      4
gotoWoodBlock       5
gotoLeafBlock       6
